<mat-toolbar color="secondary">
    <h1>Data Park</h1>
    <!-- <mat-button-toggle-group name="fontStyle" aria-label="parking">
        <mat-button-toggle routerLink="/uniteUn" value="bold">Nantes</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group> -->
    <button mat-button routerLink="/uniteUn" routerLinkActive="active" >Unite 1</button>
    <button mat-button routerLink="/uniteDeux" routerLinkActive="active" >Unite 2</button>
    <button mat-button routerLink="/uniteTrois" routerLinkActive="active" >Unite 3</button>
  <button mat-button routerLink="/uniteQuatre" routerLinkActive="active" >Unite 4</button>
  <button mat-button routerLink="/uniteCinq" routerLinkActive="active" >Unite 5</button>
</mat-toolbar>
