@import 'variables';
@import 'theme';
@import 'mixins';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons%22");
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";

*{
  margin: 0;
  padding: 0;
  font-family: $font-default;
}
h1{
    color: $color-tertiary;
}
