<p>
  Unite 1 works!
</p>
<div id="1">
  <fusioncharts
    [chartConfig]=chartConfig
    [dataSource]=dataSource >
  </fusioncharts>
</div>
<div id="2"><
  <fusioncharts>

  </fusioncharts>
</div>
<div id="3"><
  <fusioncharts
    [chartConfig]=lineChartConfig
    [dataSource]=lineDataSource >
  </fusioncharts>
</div>
<div id="4"><
  <fusioncharts
    [chartConfig]=chartConfig
    [dataSource]=dataSource >
  </fusioncharts>
</div>
<div id="5"><
  <fusioncharts
    [chartConfig]=chartConfig
    [dataSource]=dataSource >
  </fusioncharts>
</div>
<div id="6"><
  <fusioncharts
    [chartConfig]=chartConfig
    [dataSource]=dataSource >
  </fusioncharts>
</div>
